<div class='box'>
    <select [(ngModel)]='countryselected' (ngModelChange)='oncountryselected($event)'>
        <option value="" disabled selected hidden>Please Choose the country.</option>
        <option *ngFor ="let university of lstuniversity" [value]="university.country">{{university.country}}</option>
    </select>
</div>
<br><br>

<div  *ngFor="let uni of lstunis">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{uni.name}}</h4>
                <p class="card-text">{{uni.country}} || {{uni.alpha_two_code}}</p>
                <p class="card-text">{{uni.domains}}</p>
                <p class="card-text">{{uni.web_pages}}</p>
            </div>
        </div>
    </div>
</div>